body {
    padding-top: 50px;
    background-color: #11111f;
}

#address-search {
    width: 300px;
}

.toggle-selection {
    top: 100px;
    left: .5em;
}

.clear {
	top: 130px;
	left: .5em;
}

.ol-touch .toggle-selection {
    top: 80px;
}